function initChecklist() {

    const tbody = document.getElementById("tbodyChecklist");

    tbody.innerHTML = "";

    for (let i = 1; i <= 35; i++) {

        tbody.innerHTML += `
            <tr>

                <td>${i}</td>

                <td>

                    <select class="form-select form-select-sm local">

                        <option value=""></option>

                        <option>BAS</option>

                        <option>SUZ</option>

                    </select>

                </td>

                <td>

                    <input
                        class="form-control form-control-sm operador"
                        type="text">

                </td>

            </tr>
        `;

    }

    document
        .querySelectorAll(".local,.operador")
        .forEach(campo => {

            campo.addEventListener("input", atualizarChecklist);

            campo.addEventListener("change", atualizarChecklist);

        });

    document
        .querySelectorAll("#controle,#ausencias,#viras,#postoEscala,#outros")
        .forEach(campo => {

            campo.addEventListener("input", atualizarGestao);

        });

    atualizarChecklist();

}
function initFatos() {

}

function initLocomotivas() {

}

function initHistorico() {

}
